@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
}

.root {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex-flow: column nowrap;
    gap: 10px;
    height: 100vh;
    overflow: auto;
    padding: 0px;
    position: relative;
}

.container {
    background-color: black;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: fit-content;
    max-width: 575px;
    overflow: auto;
    position: relative;
    width: auto;
    gap: 20px;
}

.header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #FFF
}

.header-title {
    display: flex;
    gap: 12px;
}

.header-title h1 {
    width: 100%;
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -4px;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    color: #ED3175;
}

.header-subtitle h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
    color: #39FF14;
}

.header-subtitle a {
    color: #E99475;
    text-decoration: none;
}

.header-subtitle a:hover {
    color: #ED3175;
}

.header-links a {
    color: #E99475;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    text-decoration: none;
    padding: 20px;
}

.header-links a:hover {
    color: #ED3175;
}

.header-links hr {
  border: 1px solid black;
  background: linear-gradient(to right, #ed3175d9,#EE649C,#ED3175);
  border-radius: 4px;
  height: 3px;
}

.header-links {
    margin-bottom: 20px;
}

.prompt-container {
    place-content: flex-end center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    padding: 0px;
    width: min-content;
}

.prompt-box {
    border-bottom-width: 1px;
    border-color: #746C64;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    place-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 30px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 310px;
    max-width: 600px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    text-align: flex-start;
    color: #746C64;
    text-decoration: none;
    text-transform: none;
}

.prompt-box-tall {
    border-bottom-width: 1px;
    border-color: #746C64;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    place-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 500px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 310px;
    max-width: 600px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    text-align: flex-start;
    color: #746C64;
    text-decoration: none;
    text-transform: none;
}

textarea {
    font-family: 'Manrope', sans-serif;
}


.prompt-box:focus {
    border-color:rgba(255, 255, 255, 0.75)
}


.prompt-buttons {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: min-content;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}

.key-stroke {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.key-stroke p {
    color: rgba(255, 255, 255, 0.75);
    flex: 0 0 auto;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}

.or {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.or p {
    color: rgba(255, 255, 255, 0.25)
}

.generate-button {
    place-content: flex-start;
    align-items: flex-start;
    background-color: #ED3175;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: min-content;
    will-change: transform;
    cursor: pointer;
}

.generate {
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.generate p {
    color: rgb(255, 255, 255);
    margin: 0;
}

.loading {
    opacity: 0.7;
    cursor: default;
}

.badge-container {
    display: flex;
    bottom: 20px;
    flex: 0 0 auto;
    height: auto;
    left: 20px;
    position: fixed;
    width: auto;
    z-index: 1;
}

.badge-container a {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 54.3478% / 238.095%;
    filter: grayscale(1);
    transform: none;
    transform-origin: 50% 50% 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1em;
    color: #fff;
    padding: 12px;
    text-decoration: none;
}

.badge {
    display: flex;
    align-items: center;
}

.badge img {
    width: 21px;
    height: 17px;
    image-rendering: pixelated;
    flex-shrink: 0;
    fill: black;
    color: black;
    transform: none;
    transform-origin: 50% 50% 0px;
    padding-right: 5px;
}

.badge p {
    margin: 0;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.output {
    place-content: center flex-start;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: min-content;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.output-header-container {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}

.output-header h3 {
    font-family: "Manrope", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1.4em;
    text-align: flex-start;
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}

.output-content {
    outline: none;
    display: flex;
    /* max-width: 25%; */
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.output-content p {
    justify-content: flex-start;
    color: black;
}

/* Home Page */
.text-content {
  color: white;
}

 /* Tools Page */
 .tools-list li {
   padding: 10px;
 }

 .tools-list p {
   color: #39FF14;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 1em;
   text-decoration: none;
 }

 .tools-list a {
   color: #FF10F0;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 2em;
   text-decoration: none;
 }

 .tools-list a:hover {
     color: #ccff00;
 }

@media (min-width: 810px) and (max-width: 1199px) {
    .container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 809px) {
    .container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 400px;
        width: 100%;
    }

    .header-title h1 {
        font-size: 50px;
    }

    .key-stroke, .or {
        display: none;
    }

    .prompt-container {
        max-width: 400px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}



 /* Loading ring animation */
.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.blog-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.blog-grid-item {
  color: black;
  background-color: white;
  padding: 1rem;
  height: 12rem;
  border-radius: 20px;
  box-shadow: 4px 4px 6px #E99475;
}

.blog-grid-item:hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px #ED3175;
}

.blog-post-container {
  color: white;
}

.auth-button button {
  position: fixed;
  top: 2em;
  right: 5em;
  place-content: flex-start;
  align-items: flex-start;
  background-color: #FF10F0;
  box-shadow: 3px 3px 4px #ccff00;
  font-size: 22px;
  color: white;
  border: 2px solid #39FF14;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
}

.auth-button button:hover {
  box-shadow: 4px 4px 6px #04d9ff;
}

.credits-report{
  position: fixed;
  width: 110px;
  padding: 15px 15px 0px 15px;
  top: 6em;
  right: 5em;
  font-weight: 30;
  font-size: 22px;
  border: 2px solid #39FF14;
  border-radius: 20px;
  text-align: center;
}

.buy-button {
    place-content: flex-start;
    align-items: flex-start;
    background-color: #FF10F0;
    box-shadow: 3px 3px 4px #ccff00;
    font-size: 22px;
    color: white;
    border: 2px solid #39FF14;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 80px;
    will-change: transform;
    cursor: pointer;
    margin-bottom: 15px;
}

.signout-button button {
  position: fixed;
  top: 2em;
  right: 5em;
  display: flex;
  place-content: flex-start;
  align-items: flex-start;
  background-color: #2f91a3;
  box-shadow: 3px 3px 4px #ccff00;
  font-size: 22px;
  color: white;
  border: 2px solid #39FF14;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
}

.signout-button button:hover {
  box-shadow: 4px 4px 6px #04d9ff;
}

.signout-button img {
  margin-left: 10px;
  border-radius: 50%;
}
